<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <form method="POST">
            {%csrf_token%}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"> Sepal length</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="sepal_length" placeholder="" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Sepal width</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="sepal_width" placeholder="" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Petal length </label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="petal_length" placeholder="" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Petal width</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="petal_width" placeholder="" required>
            </div>
            <input type="submit">
        </form>
        <br><br>
        {% if result %}
        <h2>Flower type is {{result}}</h2>
        {%endif%}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>